@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --sombra: rgba(0, 0, 0, 0.5);
    --fonte-padrao: 'Arial', helvetica, sans-serif;
    --fonte-destaque: 'Bebas neue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte-padrao);
    background-color: var(--cor0);
}

a.externo::after {
    content: '\1f517';
}

header {
    background: linear-gradient(to bottom, var(--cor3), var(--cor5));
}

header h1 {
    text-align: center;
    padding-top: 50px;
    font-family: var(--fonte-destaque);
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 0 var(--sombra);
}

header p {
    margin-inline: auto;
    text-align: center;
    padding: 30px 40px;
    max-width: 650px;
    font-family: var(--fonte-padrao);
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 0 var(--sombra);
}

nav {
    padding-left: 10px;
    background-color: var(--cor5);
    box-shadow: 0 7px 7px var(--sombra);
    /*position: relative;
    z-index: 1; -- faz a sombra do nav ficar sobre a main */
}

nav a {
    display: inline-block;
    padding: 10px;
    font-family: var(--fonte-padrao);
    font-weight: bold;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

nav a:hover {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    min-width: 300px;
    max-width: 1000px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px var(--sombra);
}

main h1 {
    font-family: var(--fonte-android);
    font-size: 1.9em;
    color: var(--cor5);
}

main h2 {
    padding: 3px 10px;
    font-family: var(--fonte-android);
    font-size: 1.3em;
    background: linear-gradient(to right, var(--cor1), transparent);
    color: var(--cor4);
    border-radius: 3px;
}

main p {
    margin: 15px 0;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-family: var(--fonte-padrao);
}

main strong {
    color: var(--cor4);
}

main a {
    padding: 2px 5px;
    font-weight: bold;
    text-decoration: none;
    background-color: var(--cor1);
    color: var(--cor4);
    border-radius: 2px;
    transition: 0.3s;
}

main a:hover {
    background-color: var(--cor2);
    color: white;
}

main p:last-of-type {
    padding-inline: 15px;
}

img {
    margin: 20px auto;
    display: block;
    max-width: 100%;
    height: auto;
}

iframe {
    margin: 15px 0 30px 0;
    width: 100%; /*vai ocupar 100% do tamanho da div*/
    height: auto;
    max-width: 100%; /*não vai ultrapassar o tamanho da div*/ 
    aspect-ratio: 16/9;
}

aside {
    margin: 5px;
    padding: 20px;
    background-color: var(--cor1);
    border-radius: 7px;
    box-shadow: 3px 3px 10px var(--sombra);
}

aside > ul {
    columns: 2;
    list-style-position: inside;
    list-style-type: '\2714\00a0\00a0'; /*simbolo de check e 2 espaços*/
}

aside > h3 {
    margin: -20px -20px 0 -20px;
    padding: 10px 10px 10px 20px;
    background: var(--cor4);
    color: white;
    border-radius: 7px 7px 0 0;
}

footer {
    text-align: center;
    background-color: var(--cor5);
    color: white;
}

footer a {
    display: inline-block;
    padding: 5px;
    font-family: var(--fonte-padrao);
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

footer a:hover {
    color: var(--cor2);
    border-radius: 5px;
}